* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Fredoka";
}

.container {
    margin:auto;
    width:90%;
    background-color: aliceblue;
}

h1 {
    color:deeppink;
    text-align: center;
    padding-top:20px;
}

#intro {
    text-align: center;
    margin:2% 0;
}

.flexboxContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 6% auto;
    }

.box {
        width:30%;
        display: flex;
        color:white;
        background-color: rgba(2, 2, 49, 0.96);
        margin-bottom:30px;
        box-shadow:grey 0px 0px 3px;
    }

.detail>a, .detail>p, h2
{
padding:6px;
}

a {
    color:lightblue;
}






img {
    width:20%;
    aspect-ratio:1/1;
    min-width:100px;
}

.personalInformation {
    padding:5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
