* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Fredoka";
}

a {
    color:lightblue;
}
.container {
    margin:auto;
    width:90%;
    background-color: aliceblue;
}

h1 {
    color:deeppink;
    text-align: center;
    padding-top:20px;
}

#intro {
    text-align: center;
    margin:2% 0;
}

.flexboxContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 6% auto;
    }

.box {
        width:30%;
        display: flex;
        color:white;
        background-color: rgba(2, 2, 49, 0.96);
        margin-bottom:30px;
        box-shadow:grey 0px 0px 3px;
    }

img {
        aspect-ratio:1/1;
        min-width:130px;
    }

.personalInformation {
        padding:5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

.detail>a, .detail>p, h2
{
padding:6px;
}

.detail {
margin-bottom: 15px;
}




